<div>
    <h2>Update post</h2>

    <loader v-if="loading">post</loader>

    <div v-if="!loading">

        <photo-upload :photos.sync="post.photos.data" :overrides="{ url: this.$http.options.root + '/posts/' + post.id + '/photos' }"></photo-upload>
        <input v-model="post.title" type="text" placeholder="Title">
        <br>
        <div v-if="post.content">
            <trix :content.sync="post.content"></trix>
        </div>
        <br>
        <button @click="updatePost(post.id)">Update</button>

        <br><br><br><br>
        <button @click="deletePost(post.id)">DELETE</button>
    </div>
</div>
