<nav class="Nav">
    <ul class="Nav__items">
        <li class="Nav__item">
            <a class="Nav__link" v-link="{ name: 'dashboard', exact: true, activeClass: 'Nav__link--active'}">
                <object class="Icon Nav__icon" data="/images/icons/dashboard-half.svg" type="image/svg+xml"></object>
                <span class="Nav__text">Manage posts</span>
            </a>
        </li>
        <li class="Nav__item">
            <a class="Nav__link" v-link="{ name: 'posts-admin', exact: true, activeClass: 'Nav__link--active'}">
                <object class="Icon Nav__icon" data="/images/icons/edit.svg" type="image/svg+xml"></object>
                <span class="Nav__text">Dashboard</span>
            </a>
        </li>
        <li class="Nav__item">
            <a class="Nav__link" v-link="{ name: 'posts', exact: true, activeClass: 'Nav__link--active'}">
                <object class="Icon Nav__icon" data="/images/icons/painting.svg" type="image/svg+xml"></object>
                <span class="Nav__text">Paintings</span>
            </a>
        </li>
    </ul>
</nav>
