<div class="Post-sidebar">
    <ul class="Post-sidebar__list">
        <li @click="create()" class="Post-sidebar__item Post-sidebar__create">
            <object class="Icon__medium Post-sidebar__create-icon" data="/images/icons/create.svg" type="image/svg+xml"></object>
        </li>
        <li
            class="Post-sidebar__item"
            v-bind:class="{'Post-sidebar--active': post.id == active}"
            v-for="post in posts"
            @click="this.setEdit(post.id)"
            v-if="post.title">
            <span class="Post-sidebar__title">{{ post.title |truncate 35 }}</span>
        </li>
    </ul>
</div>
