.Icon {
    width: 30px;
    height: 30px;
}

.Icon__mini {
    width: 16px;
    height: 16px;
}


.Icon__small {
    width: 20px;
    height: 20px;
}

.Icon__medium {
    width: 30px;
    height: 30px;
}

.Icon__large {
    width:40px;
    height:40px;
}

.Icon__huge {
    width:65px;
    height:65px;
}

.Icon--hidden {
    display: none;
}
