.Nav {
    width: 100%;
    display: block;
    float: left;
    margin: 0;
    box-shadow: 0 1px 0 $gray;
}

.Nav__items {
    display: block;
    margin:0;
    padding:0;
    display: flex;
    height: $nav-mobile;
    @media (min-width: $break-small){
        height: $nav-desktop;
    }
}

.Nav__item {
    flex: 1;
    list-style: none;
    text-decoration: none;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Nav__link {
    flex: 1;
    position: relative;
    width: 100%;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $dark-gray;
}

.Nav__link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: $success-color;
    opacity: 0;
    transition: $transition-fast-linear;
}

.Nav__link--active:after,
.Nav__link:hover {
    opacity: 1;
}

.Nav__icon {
    width: 25px;
    height: 25px;
}


.Nav__text {
    display: none;
}
