.Post-edit__header {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $gray;
    padding: .5rem 1rem;
}

.Post-edit__title {
    border:0;
    text-align: center;
    margin: 1rem 0 2rem 0;
    width: 100%;
    float: left;
}

.Post-edit__title:focus {
    border:0;
}
.Post-edit__delete-container {
    width: 100%;
    margin-top: 10rem;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Post-edit__delete {
    margin: 0 auto;
    width: 90%;
    max-width: 400px;
}
