.Post-sidebar {
    float: left;
}

.Post-sidebar--small {
    display: none;
}

.Post-sidebar__list {
    width: 100%;
    margin: 0;
    padding: 0;
}

.Post-sidebar__item {
    list-style: none;
    height: 4rem;
    padding: 10px;
    border-bottom: 1px solid $gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: $transition-medium;
    border-left: 4px solid transparent;
}

.Post-sidebar--active {
    border-left: 4px solid $success-color;
}

.Post-sidebar__create {
    background: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $transition-fast-linear;
}

.Post-sidebar__create-icon {
    transition: $transition-fast-linear;
}

.Post-sidebar__create:hover .Post-sidebar__create-icon,
.Post-sidebar__create:active .Post-sidebar__create-icon {
    transform: scale(1.1);
}

.Post-sidebar__item--active {
    border-left: 1px solid $success-color;
}

.Post-sidebar__item:hover {
    padding: 10px 8px 10px 12px;
}
.Post-sidebar__create:hover {
    padding: 10px;
}

.Post-sidebar__title {
    font-size: .8rem;
    color: $black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
