.Post-admin-page {
    width: 100%;
    height: calc(100% - #{$nav-mobile});
    float: left;
    display: flex;
    .Post-sidebar {
        flex:1;
    }
    .Post-edit {
        flex:1;
    }
    .Post-edit--small {
        display:none;
    }
}

@media (min-width: $break-small){
    .Post-admin-page {
        height: calc(100% - #{$nav-desktop});
    }
}

@media (min-width: $break-medium) {
    .Post-admin-page {
        .Post-sidebar {
            border-right: 1px solid $gray;
            max-width: 300px;
        }
        .Post-sidebar--small {
            display:block;
        }
        .Post-edit--small {
            display:block;
        }
    }
}
